
*.jpg
Library/model_lbph.yml
venvFaceRecognition/
Library/yolov8l.pt
Library/yolov8m.pt
Transfert_learning_YOLO/Classification/runs/classify/tain
Transfert_learning_YOLO/Classification/runs/classify/tain3
Transfert_learning_YOLO/Classification/runs/classify/tain10

